.search-input {
    width: 70%;
}

.search-input input {
    background-color: transparent;
    border: none;
    outline: none;
    color: rgba(255, 255, 255, 0.82);
    font-size: 1rem;
    width: 100%;
}

@media screen and (max-width: 600px) {
    .search-input input {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 400px) {
    .search-input input {
        width: 130px;
    }
}

.search-input input:focus {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.58);
}

@media screen and (max-width: 600px) {
    .search-box {
        width: 300px;
    }
}