.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/The_Last_Supper_-_Leonardo_Da_Vinci_-_High_Resolution_32x16.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'The Nautigal', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 12%, rgba(0,0,0,0.6923144257703081) 63%, rgba(0,0,0,0.37298669467787116) 100%);
}

h1 {
    position: relative;
    font-size: 100px;
    color: rgba(255, 255, 255, 0.69);
    z-index: 200;
    margin-bottom: 4rem;
}

@media screen and (max-width: 600px) {
    h1{
        font-size: 70px;
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 400px) {
    h1{
        font-size: 50px;
    }
}