.modal-picture-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.modal-picture-details-item {
    margin: 0 0.75rem 0.75rem 0;
    background-color: #212121;
    height: 40px;
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 1rem;
}

.modal-picture-details-item-title {
    background-color: #c04041;
    border-radius: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.75rem;
    padding: 0.25rem 1rem;
    font-weight: bold;
}

@media screen and (max-width: 850px) {
    .modal-picture-details-item {
        font-size: 14px;
    }
}