.infinite-scroll-container {
    padding-top: 9rem;
}

.infinite-scroll-component {
    overflow: visible !important;
}

body {
    background-color: black;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}